@import url('https://github.com/ktutsaa/omori/raw/main/discord/OMORI_GAME2.ttf');
:root{  
    --font-primary: OMORI_GAME2;
    --font-display: OMORI_GAME2;
    --font-headline: OMORI_GAME2;
    --home-image: url('https://raw.githubusercontent.com/ktutsaa/ktutsaa.github.io/main/discord/main.gif');
}

div[data-list-item-id="guildsnav___home"] {
	background: var(--home-image) top center/100% no-repeat;
}
#app-mount [data-list-item-id="guildsnav___home"]
div {
	color: transparent;
	background-color: transparent;
}

.scrollerBase__2b744{
    background-color: black;
}

.scroller__4b984{
background-color: black;
}

.thin_b1c063{
background-color: black;
}

.scrollerBase_dc3aa9{
background-color: black;
}

.fade_ba0fa0{
background-color: black;
}

.emptyStateContainer__58470{
    background-color: black;
}

.sidebar_ded4b{
    background-color: black;
}

.circleIconButton_d8df29{
    background-color: black;
}
.expandedFolderBackground__1bec6 {
    background-color: black;
}

.itemCard__1f162{
    background-color: black;
}
.section_efc22d {
    background-color: black;
}

.expandedFolderIconWrapper__458cf {
    background-color: black;
}

.upperContainer__993ba {
    background-color: black;
}
.theme-dark.container__11d72.themed_b152d4 {
    background-color: black;
}
.searchBar_e4ea2a {
    background-color: black;
}
.searchBarComponent__22760 {
    background-color: black;
}
.animatedContainer__341f6{
    z-index: 2
}
.theme-dark .item__126a6 {
    border-color: rgb(66, 66, 66);
}
.item__126a6.selectorButtonSelected_fbe8fc.selectorButton_c6ae93{
    background-color: rgb(32, 32, 32)
}
.selectorButton_c6ae93:not(.selectorButtonPremiumRequired_ce72d6):hover {
    background-color: rgb(22, 22, 22);
}
.card__7756d{
    background-color: rgb(15, 15, 15);
}
.selectorButton_c6ae93 {
    background: rgb(8, 8, 8);
}
.lookFilled__3dba3.select__0eb48 {
    background-color: rgb(15, 15, 15);
}
.avatarWithText__17e10{
    background-color: black;
}
.layout__59abc {
    background-color: black;
}
.interactive__776ee.interactive_a868bc.linkButton_ebd2ba.interactiveSelected_ec846b.selected_d94cf9{
    background-color: black;
}
.nowPlayingColumn_f5023f {
    background-color: black;
}

.scroller__4b984.thin_b1c063.scrollerBase_dc3aa9.fade_ba0fa0 {
    background-color: black;
}
.tabBody_b3d268 {
    background-color: black;
}
.inner__999f6 {
    background-color: black;
}
.actionButton__23182 {
    background-color: black;
}

.peopleList__2379e.auto__76cc7.scrollerBase__2b744{
    background-color: black;
}
.childWrapper__01b9c.acronym_cd4809 {
    background-color: black;
}
.closedFolderIconWrapper__7321f {
    background-color: black;
}
.folderIconWrapper__72239 {
    background-color: black;
}
.folder__17546{
    background-color: black;
}
.folder__17546.hover__043de{
    background-color: black;
}
.accountProfileCard__22589 {
    background-color: black;
}
.background_b61fcc{
    background-color: black;
}
.fieldList_aab0de {
    background-color: black;
}
.fieldButton_a93f59.button_afdfd9.lookFilled__19298.colorPrimary__6ed40.sizeSmall__71a98.grow__4c8a4{
    background-color: black;
}
.preview_f42b5d.marginBottom40__9109c.group-spacing-16.cardPrimary_cb7a0e.card__4dc22.outline_cb0aed{
    background-color: black;
}
.flexCenter_f6d9b0.notDetected__2a0c9.activeGame__99516{
    background-color: black;
}
.radioBar__40e1b.radioPositionLeft__1d40a{
    background-color: black;
}
.item_b7fb7e.itemFilled__373d7{
    background-color: black;
}
.progress__2cc1d{
    background-color: black;
}
.colorStandard__5111e.size14_b2af01.description__7af71.formText_e4d957.micTestCaption__6f94a.modeDefault_c1162c{
    background-color: black;
}
.wrapper__6122{
    background-color: black;
}
.container__6d33c{
    background-color: black;
}
.searchBarComponent__22760 {
    background-color: black;
}
.privateChannels__93473{
    background-color: black;
}
.sidebar_ded4b5{
    background-color: black;
}
.avatarWrapper_ba5175.withTagAsButton_cc125f{
    background-color: black;
}
.panelTitleContainer__7a748{
    background-color: black;
}
.userPopoutOverlayBackground_d8afa4.overlayBackground__86b78{
    background-color: black;
}
.profileBadges__7a7cb.containerWithContent__7e98f.container__5bda1{
    background-color: black;
}
.partyMemberOverflow_d12297{
    background-color: black;
}
.voiceSectionAssets_d7306c{
    background-color: black;
}
.typeWindows__5fa63.withFrame__485f4.titleBar__01af6.withBackgroundOverride_b6a351{
    background-color: black;
}
.layer__2efaa.baseLayer__8fda3{
    background-color: black;
}
.bg__12180{
    background-color: black;
}
.children__32014{
    background-color: black;
}

.theme-dark .children__32014:after {
    background: black;
}

.children__32014:after{
    background-color: black;
}
.container__5c7e7{
    background-color: black;
}

.interactive__776ee.interactive_a868bc{
    background-color: black;
}
.scrollerBase__2b744{
    background-color: black;
}
.wrapper_a7e7a8.guilds__2b93a{
    background-color: black;
}
.container__0a6a9{
    background-color: black;
}
.memberInner_a32223.layout_bb8e67{
    background-color: black;
}
.member_aa4760.member_b44d5d.container__4f20e.clickable__17ccb{
    background-color: black;
}
.container_b2ce9c{
    background-color: black;
}
.form__13a2c{
    background-color: black;
}
.theme-dark .form__13a2c:before {
    background:black;
}
.linkTop_eaa673{
    background-color: black;
}
.modeSelected__487d6 .link__95dc0, .modeSelected__487d6:hover .link__95dc0 {
    background: black;
}
.wrapper__7bcde:hover .link__95dc0{
    background-color: black;
}
.reactionInner__4135b{
    background-color: black;
}
.reaction_fef95b{
    background-color: black;
}
.title_b7d661.container__11d72.themed_b152d4{
background-color: black;
}
.acronym__439d3{
    background-color: black;
}
.theme-dark .expandedInfo__47bad {
    background-color: black;
}
.root_a28985 {
    background-color: black;
}
.lookFilled__19298.colorPrimary__6ed40 {
    background-color: rgb(22, 22, 22);
}
.bodyWrapper__9ca2b{
    background-color: black;
}
.footer__89240 {
    background-color: black;
}
.tooltipContent__79a2d{
    background-color: black;
}
.theme-dark .voiceSectionNoGuildImageWrapper__2cbb8 {
    background: black;
}
.perkRow_bdbcf6{
    background-color: black;
}
.perks__63e5a{
    background-color: black;
}
.theme-dark .tooltipPrimary_e5c00d .tooltipPointer_a79354, .theme-light .tooltipPrimary_e5c00d .tooltipPointer_a79354 {
    border-top-color: black;
}
.iconWrapper__85630{
    background-color: black;
}
.gridContainer_de8cdc{
    background-color: black;
}
.header__104ca{
    background-color: black;
}
.container__7c79d.clickable__2d589.selected__0b1ad{
    background-color: rgb(0, 0, 0);
}

.searchBar_e0c60b{
    background-color: black;
}
.scrollableContainer__33e06.themedBackground__6b1b6.webkit__8d35a{
    background-color: black;
}
.searchFilter__118cb{
    background-color: black;
}
.resultsGroup_ea9b64{
    background-color: black;
}
.uid_10.container__d6dad3{
    background-color: black;
}
.popout_85.theme-dark.layer_ec16dd{
    background-color: black;
}

.buttonsInner_bca8fa.wrapper_c727b6{
    background-color: black;
}

.layerContainer_d5a653{
    background-color: black;
}
.searchHeader__19d87{
    background-color: black;
}
.message_d8db25{
    background-color: black;
}
.queryContainer_c359fe.focused_f9cf2c{
    background-color: black;
}
.jumpToPresentBar__0ff7f.barBase__4e0ba{
    background-color: black;
}
.theme-dark.container_ca50b9 {
    background: black;
}
.quickswitcher_a3d29a{
    background-color: black;
}
.input__848cd{
    background-color: black;
}
.theme-dark #vc-spotify-player {
    background: black;
}
.searchBarComponent__22760 {
    background: black;
}
.searchBar_e4ea2a .searchBarComponent__22760 {
    background-color: black;
    color: var(--text-muted);
}
.item_e4ca95.item__48dda.selected__5711d.themed_b957e8{
    background-color: rgb(20, 20, 20);
}
.userProfileModalOverlayBackground__52d65.overlayBackground__86b78{
    background-color: black;
}
.userProfileInnerThemedNonPremium__3d0a6 {
    background: black;
}
.menu_dc52c6.flexible__7055b{
    background-color: black;
}
.userPanelOverlayBackground__34fc8.overlayBackground__86b78{
    background-color: black;
}
.shinyButton_fc8363.giftButton_ff61dc.giftButton__0988e.button_afdfd9.lookFilled__19298.sizeMedium_c6fa98.grow__4c8a4{
    background-color: black;
}
.badgeList_ef4131.containerWithContent__7e98f.container__5bda1{
    background-color: black;
}
.theme-dark .container_ca50b9 {
    background: black;
}
.libraryHeader_ee5638.container__11d72.themed_b152d4{
    background-color: black;
}
.item__48dda.selected__5711d.themed_b957e8{
    background-color: black;
}
.stickyHeader_aa58d0.header_b5ab54.row__89c5d.stickyHeader__48071{
    background-color: black;
}
.button_afdfd9.lookFilled__19298.colorPrimary__6ed40.hoverGreen__46798.actionButtonSize__92515.grow__4c8a4.hasHover__3ab8c{
    background-color: black;
}
.item__48dda.themed_b957e8{
    background-color: black;
}
.headerBar_afb1ac.container__11d72.themed_b152d4{
    background-color: black;
}
.applicationStore_fc7d76{
    background-color: black;
}
.pageWrapper__582b9.pageWrapperBackgroundPrimary__74f14{
    background-color: black;
}
.vc-addon-card{
    background-color: black;
}
.flex_f5fbb7.horizontal__992f6.justifyStart__42744.alignStretch_e239ef.noWrap__5c413.footer__89240.footerSeparator__57d95{
    background-color: black;
}
.modal__6a96b.root_a28985.small__05f7b.fullscreenOnMobile__96797.rootWithShadow__073a7{
    background-color: black;
}
.badgeList_c193e3.containerWithContent__7e98f.container__5bda1{
    background-color: black;
}
.content_d67847{
    background-color: black;
}
.contentWrapper__321ed{
    background-color: black;
}
.wrapper__7a35f.header_c3c744{
    background-color: black;
}
.inspector__993e1.inspector__17331{
    background-color: black;
}
.guildIcon__4d796.guildIconWithoutImage__9b81a{
    background-color: black;
}
.wrapper__7a35f.packHeader__8b804{
    background-color: black;
}
.inspector__993e1{
    background-color: black;
}
.button__890f5.button_afdfd9.lookFilled__19298.buttonColor__6f6b0.sizeSmall__71a98.fullWidth__7c3e8.grow__4c8a4{
    background-color: black;
}
.connectContainer__8050b{
    background-color: black;
}
.inner__51a43.accountButtonInner__80e3a{
    background-color: black;
}
.inner__51a43.accountBtnInner_fe9b67{
    background-color: black;
}
.accountAddInner_d34c25.accountButtonInner__80e3a{
    background-color: black;
}
.connection_fff5f6{
    background-color: black;
}
.connectionHeader__3c82d{
    background-color: black;
}
.metadataContainer__7b316{
    background-color: black;    
}
.wrapper__0df00{
    background-color: black;
}
.recommendedServerCard__70a39.guildContainer__9d362{background-color: black;}
.blockedPaymentsWarning__0bf12.blockedPaymentsWarning_de6c61.card__4dc22{background-color: black;}
.wave_e98f7c{fill: black;}
.wrapper_cf13f4.faq__1d001{background-color: black;}
.theme-dark .calendarPicker__5c474 .react-datepicker{background-color: black;}
.calendarPicker__5c474 .react-datepicker{background-color: black;}
.theme-dark .calendarPicker__5c474 .react-datepicker__header{background-color: black;}
.theme-dark .calendarPicker__5c474 .react-datepicker__day--outside-month, .theme-dark .calendarPicker__5c474 .react-datepicker__day--disabled{background-color: black;}
.theme-dark .calendarPicker__5c474 .react-datepicker__day.react-datepicker__day--disabled, .theme-dark .calendarPicker__5c474 .react-datepicker__day.react-datepicker__day--disabled:hover{background-color: black;}
.container_d667ff{background-color: black;}
.button__66e8c.buttonColor_a6eb73 {
    background-color: black;
    color: var(--interactive-active);
}
.modalSize__42455.root_a28985.fullscreenOnMobile__96797.rootWithShadow__073a7{background-color: black;}
.flex_f5fbb7.horizontalReverse_dc209c.justifyStart__42744.alignStretch_e239ef.noWrap__5c413.footer__89240.footerSeparator__57d95{background-color: black;}
.panel_bd8c76.activityPanel__22355{background-color: black;}
.member_aa4760.member_b44d5d.container__4f20e.selected__9800b{background-color: black;}
.role__631a3.rolePill_ee1aa1{background-color: black;}
.buttonColor__01bf8 {
    background-color: black;
    color: var(--white-500);
}
.container__6968f{background-color: black;}
.container__9c82e{background-color: black;}
.circle__7dd22{background-color: black;}
.container__9f90c.max-width__4cc00{background-color: black;}
.row_c1b980.marginBottom8_f4aae3{background-color: black;}
.iconContainer__82920{background-color: black;}
.box__6431e.linkingBanner_aea654.linkingBannerParent_d2e824{background-color: black;}
.box__6431e{background-color: black;}
.theme-dark .blockedPaymentsWarning__0bf12 {
    background-color: black;
    border-color: var(--primary-700);
}
.theme-dark .summaryInfo_b57acb {
    background-color: black;
}
.pageActions__11ae3{background-color: black;}
.theme-dark .codeRedemptionRedirect_bc7f36 {
    background-color: black;
    border-color: var(--primary-700);
}
.paymentRow__1bb7a.bottomDivider_a59d97{background-color: black;}
.previewMessage__1075c{background-color: black;}